html {
  height: 100%;
  width: 100%;
}

@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(0, 55, 22);
  color: #e5e5e5;
  font-family: 'Josefin Sans', sans-serif;
  /* margin: auto 5vw auto 5vw; */
  text-align: center;
}

a {
  text-decoration: none;
}

@media screen and (max-width:320px) {

  nav {
    background-color: #e5e5e5;
    padding: 5vw 0 5vw 0;
    margin-bottom: 5vw;
  }

  header {
    margin-top: 10vw;
  }

  h1 {
    font-size: 3em;
    font-weight: 700;
  }

  h2 {
    font-size: 2em;
    font-weight: 400;
    margin-top: 3vw;
  }

  h3 {
    font-size: 2em;
    font-weight: 600;
    margin-top: 10vw;
  }

  main {
    margin-top: 10vw;
    padding-bottom: 10vw;
    background-image: url("img/background-image.png");
    background-repeat: no-repeat;
    background-color: rgb(0, 55, 22);
    background-size: cover;
  }

  a {
    text-decoration: none;

  }

  /* a,p{
  color: #e5e5e5;
} */
  .form:link,
  .form:visited,
  {
  display: block;
  text-decoration: none;
  background-color: #e5e5e5;
  color: rgb(0, 55, 22);
  padding: 5vw 5vw 5vw 5vw;
  margin: 5vw 10vw 5vw 10vw;
  border-radius: 10vw;
  background-image: none;
}

.form:hover,
.form:active {
  /* background-image: linear-gradient(180deg, #007dc3, #e5e5e5); */
  color: #e5e5e5;
  background-color: rgb(0, 125, 195);
  transition: 0.5s;
}

button,
button:visited {
  display: block;
  margin: auto;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #e5e5e5;
  color: rgb(0, 125, 195);
  font-weight: normal;
  font-size: 1.5em;
  margin-bottom: 10vw;
  border-radius: 10vw;
  padding: 5vw 10vw 5vw 10vw;
  border: none;

}

.back:link,
.back:visited {
  font-size: 0.75em;
  padding: 2vw 10vw 2vw 10vw;

}

.uploading {
  margin-top: 10vw;
}

button:hover,
button:active {
  color: #e5e5e5;
  background-color: rgb(0, 125, 195);
  transition: 0.5s;
}

fieldset {
  display: block;
  margin: 10vw 0 10vw 0;
  border: none;
}

legend {
  font-weight: 600;
  margin-bottom: 5vw;
}

input {
  margin: 2vw 0 2vw 0;
}

h1>p {
  margin-top: 5vw;
}

button {}
}

@media screen and (min-width:320px) {
  nav {
    background-color: #e5e5e5;
    padding: 5vw 0 5vw 0;
    margin-bottom: 5vw;
  }

  header {
    margin-top: 10vw;
  }

  h1 {
    font-size: 4em;
    font-weight: 700;
  }

  h2 {
    font-size: 3em;
    font-weight: 400;
    margin-top: 3vw;
  }

  h3 {
    font-size: 3em;
    margin-top: 10vw;
  }

  .label {
    font-size: 2em;
  }

  main {
    margin-top: 10vw;
    padding-bottom: 10vw;
    background-image: url("img/background-image.png");
    background-repeat: no-repeat;
    background-color: rgb(0, 55, 22);
    background-size: cover;
  }

  /* a,p{
  color: #e5e5e5;
} */
  .form:link,
  .form:visited {
    display: block;
    text-decoration: none;
    background-color: #e5e5e5;
    color: rgb(0, 55, 22);
    padding: 5vw 5vw 5vw 5vw;
    margin: 5vw 10vw 5vw 10vw;
    border-radius: 10vw;
    background-image: none;
  }

  .form:hover,
  .form:active {
    /* background-image: linear-gradient(180deg, #007dc3, #e5e5e5); */
    color: #e5e5e5;
    background-color: rgb(0, 125, 195);
    transition: 0.5s;
  }

  button,
  button:visited {
    display: block;
    margin: auto;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    background-color: #e5e5e5;
    color: rgb(0, 125, 195);
    font-weight: normal;
    font-size: 1.5em;
    margin-bottom: 10vw;
    border-radius: 10vw;
    padding: 5vw 10vw 5vw 10vw;
    border: none;

  }

  .back:link,
  .back:visited {
    font-size: 0.75em;
    padding: 2vw 10vw 2vw 10vw;

  }

  .uploading {
    margin-top: 10vw;
  }

  button:hover,
  button:active {
    color: #e5e5e5;
    background-color: rgb(0, 125, 195);
    transition: 0.5s;
  }

  fieldset {
    display: block;
    margin: 10vw 0 10vw 0;
    border: none;
  }

  legend {
    font-weight: 600;
    margin-bottom: 5vw;
  }

  input {
    margin: 2vw 0 2vw 0;
  }

}

@media screen and (min-width:550px) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 4em;
  }

  a {
    font-size: 1.5em;
  }
}

@media screen and (min-width:750px) {

  /* main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    } */

  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 5em;
  }

  a {
    font-size: 1.5em;
  }

  main {
    margin-top: 5vw;
  }

  .form:link,
  .form:visited {
    padding: 3vw 5vw 3vw 5vw;
    margin: 5vw 5vw 5vw 5vw;
  }
}

html {
  height: 100%;
  width: 100%;
}
